*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: var(--background-color);
    color:#222;
}

:root{
    /* ===== MÀU CHÍNH ===== */
    --primary-color: #2563eb;      /* Màu xanh chủ đạo */
    --secondary-color: #07152e;    /* Xanh đậm */

    /* ===== MÀU NỀN ===== */
    --background-color: #f5f7fb;
    --card-background: #ffffff;

    /* ===== MÀU CHỮ ===== */
    --text-color: #102040;
    --text-light: #666666;
    --white: #ffffff;

    /* ===== MÀU BORDER ===== */
    --border-color: #dddddd;

    /* ===== SHADOW ===== */
    --shadow: 0 5px 15px rgba(0,0,0,.08);
}

/* ===== HEADER ===== */

.top-bar{
    background:var(--secondary-color);
    color:var(--white);
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 40px;
    font-size:14px;
    transition: all .3s ease;
    overflow:hidden;
}

.top-links {
    display: flex;
}

.top-links a{
    color:var(--white);
    text-decoration:none;
    margin-left:20px;
    padding: 10px 20px;
}

.top-links a:hover {
    background: var(--primary-color);
    color: var(--white);
}

.modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

/* Modal đăng nhập tài khoản */
.modal.open{
    display: flex;
}

.modal-container {
    background: #fff;
    width: 400px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,.25);
    animation: showModal ease 0.5s;
}

.modal-container .fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 16px;
    border-radius: 0 20px 0 20px;
}

.modal-container .fa-xmark:hover {
    background: red;
    color: #fff;
    cursor: pointer;
}

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.fa-earth-asia {
    color: var(--secondary-color);
}

.modal-tag {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 30px 16px 10px;
}

.modal-body,
.modal-footer {
    padding: 0 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 25px 0 5px;
}

.modal-input {
    width: 100%;
    font-size: 15px;
    padding: 11px;
    border: solid 1px #ccc;
}

.password-box{
    display: block;
    position: relative;
}

.password-box input{
    width:100%;
    height:48px;
    padding:0 45px 0 15px;
}


.password-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#777;
}

.password-box .fa-eye-slash:hover{
    color:#1b4cff;
}

#log-in-button {
    font-size: 15px;
    padding: 16px;
    margin: 25px 0 6px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.divider-text{
    display: flex;
    align-items: center;
    color: #666;
    font-size: 14px;
    margin: 25px 0;
}

.divider-text::before,
.divider-text::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #d9d9d9;
}

.divider-text::before{
    margin-right: 15px;
}

.divider-text::after{
    margin-left: 15px;
}

.modal-orther {
    display: flex;
    text-align: center;
}

.log-in-other {
    font-size: 15px;
    
}

.social-login{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.social-btn{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
    height: 50px;

    text-decoration: none;
    color: #1f2937;

    border: 1px solid #d9d9d9;
    border-radius: 10px;

    background: white;

    font-weight: 600;

    transition: .3s;
}

.social-btn img{
    width:24px;
    height:24px;
}

.facebook i{
    color: #1877F2;
    font-size: 22px;
}

.social-btn span{
    font-size: 22px;
}

.social-btn:hover{
    border-color:#2563eb;
    transform: translateY(-2px);
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 14px;
    margin: 25px 0;
}

.footer-end a {
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 2px;
}

.footer-end a:hover {
    color: red;
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal đăng ký tài khoản */
.modal-register {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-register .modal-container {
    width: 600px;
}

.modal-register.open{
    display: flex;
}

.modal-register .modal-header p{
    opacity: 0.6;
}

.modal-register .body-box i:first-child {
    width: 16px;
    display: flex;
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    cursor: auto;
    color:#777;
}

.body-box{
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.modal-body .box-name,
.modal-body .box-tel {
    display: inline-flex;
    align-items: center;
    width: 49.6%;
}

.body-box input{
    width:100%;
    height:40px;
    padding:0 45px 0 45px;
}


.body-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#777;
}

.body-box .fa-eye-slash:hover{
    color:#1b4cff;
}

.register-agree {
    align-items: center;
    display: flex;
    font-size: 12px;
}

.register-agree a{
    text-decoration: none;
    color: var(--primary-color);
}


/* Navbar */
.navbar{
    background:var(--white);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    box-shadow: var(--shadow);
    transition: all .3s ease;
}

.top-bar, 
.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo i{
    font-size:42px;
    color:var(--primary-color);
}

.logo h1{
    font-size:32px;
    color: var(--text-color);
}

.logo span{
    font-size:14px;
    color:#666;
}

.menu{
    list-style:none;
    display:flex;
    gap:30px;
}

.menu a{
    text-decoration:none;
    color: var(--text-color);
    font-weight:600;
    padding: 18px 0;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.menu-toggle{
    display:none;
    font-size:30px;
    color:var(--text-color);
    cursor:pointer;
}

.mobile-menu{
    position:relative;
}

.dropdown{
    display:none;
    position:absolute;
    right:0;
    top:45px;

    background:white;

    width:220px;

    list-style:none;

    border-radius:10px;

    box-shadow: var(--shadow);
}

.dropdown li a{
    display:block;
    padding:15px 20px;
    color: var(--text-color);
    text-decoration:none;
}

.dropdown li a:hover{
    background:#f0f4ff;
    color:var(--primary-color);
}

.menu-toggle:hover .dropdown{
    display:block;
    z-index: 1;
}

/* Search */
.search-box{
    max-width:900px;
    margin:25px auto;
    display:flex;
}

.search-box input{
    flex:1;
    padding:16px;
    border:1px solid #ddd;
    border-radius:12px 0 0 12px;
    font-size:16px;
}

.search-box button{
    width:70px;
    border:none;
    background:#1b4cff;
    color:#fff;
    border-radius:0 12px 12px 0;
    font-size:20px;
}

/* ===== HERO ===== */
.hero{
    height:500px;
    background:url('/test/images/banner.jpg') center/cover;
    position:relative;
}

.overlay{
    background:rgba(0,0,0,0.45);
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
}

.hero-content{
    color:#fff;
    margin-left:80px;
    max-width:500px;
}

.hero-content h2{
    font-size:50px;
    margin-bottom:10px;
}

.hero-content p{
    margin:20px 0;
    line-height:1.6;
}

.btn{
    display:inline-block;
    background:#1b4cff;
    color:#fff;
    padding:15px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

/* ===== CATEGORIES ===== */
.categories{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:50px 60px;
}

.card{
    background:#fff;
    text-align:center;
    padding:40px 20px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card i{
    font-size:55px;
    color:#1b4cff;
    margin-bottom:20px;
}

/* ===== PRODUCTS ===== */
.products{
    padding:20px 60px 80px;
}

.products h2{
    text-align:center;
    margin-bottom:40px;
    color:var(--text-color);
    font-size:36px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.product img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.product h3,
.product p{
    padding:10px 18px;
}

.product p{
    font-weight:bold;
    color:#1b4cff;
}

.product button{
    width:calc(100% - 36px);
    margin:0 18px 20px;
    padding:12px;
    border:2px solid #1b4cff;
    background:#fff;
    color:#1b4cff;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
}

/* ===== FOOTER ===== */
footer{
    background: var(--secondary-color);
    color:#fff;
    padding:70px 51px 25px;
}

.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:40px;
}

footer h3{
    margin-bottom:15px;
    font-size: 1.5em;
}

.footer-container  span {
    color: #4FA8FF;
}

footer ul{
    list-style:none;
}

footer li{
    margin-bottom:10px;
    color:#d0d7e5;
}

.copyright{
    text-align:center;
    margin-top:70px;
    padding-top:25px;
    border-top:1px solid rgba(255,255,255,0.2);
    color:#c0c7d5;
}



/* Responsive */
@media(max-width:992px){
    
    .modal-body .box-name,
    .modal-body .box-tel {
        display: flex;
        width: 100%;
    }

    /* Ẩn lời chào */
    .top-bar p{
        display:none;
    }
    
    /* Chỉ giữ lại Đăng nhập - Giỏ hàng */
    .top-bar{
        justify-content:flex-end;
    }

    /* Ẩn menu ngang */
    .menu{
        display:none;
    }
    
    /* Hiện nút 3 gạch */
    .menu-toggle{
        display:block;
    }

    /* Các phần khác giữ nguyên */
    .categories,
    .product-grid,
    .footer-container{
        grid-template-columns:repeat(2,1fr);
    }

    .hero-content h2{
        font-size:40px;
    }
}

@media(max-width:600px){

    .categories,
    .product-grid,
    .footer-container{
        grid-template-columns:1fr;
    }

    .hero{
        height:400px;
    }

    .hero-content{
        margin-left:30px;
    }

    .hero-content h2{
        font-size:32px;
    }

    .navbar{
        padding:15px 20px;
    }

    .logo h1{
        font-size:24px;
    }

    .logo span{
        font-size:12px;
    }
}

.categories .htdd {
    text-decoration: none;
}

.categories .htdd h3,
.categories .htdd p {
    color: initial;
}