.page {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 100%;
  align-content: start;
  min-width: 0;
}

.welcome {
  background-color: rgb(9, 9, 70);
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 5%;
  font-size: 14px;
  min-width: 0;
  overflow: hidden;
}

.welcome__text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
  padding-right: 20px;
}

.welcome__link {
  display: flex;
  justify-content: space-between;
  gap: clamp(15px, 6vw, 100px);
  white-space: nowrap;
  align-items: center;
  flex-shrink: 0;
}

.welcome__config {
  display: flex;
  align-items: center;
  gap: 4px;
}

.welcome__sign-in,
.welcome__register,
.welcome__cart {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.welcome__sign-in:hover,
.welcome__register:hover,
.welcome__cart:hover {
  color:rgb(111, 176, 255);
  cursor: pointer;
}

.welcome__sign-in:active,
.welcome__register:active,
.welcome__cart:active {
  color: rgb(44, 44, 160);
  transform: translateY(1px);
  transition: none !important;
}

.nav-and-logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  box-sizing: border-box;
  background-color: white;
}

.nav-and-logo__logo {
  height: 60px;
  width: auto;

}

.nav-bar {
  min-width: 0;
  height: 100%;
}

.nav-bar__nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: clamp(5px, 4vw, 60px);
  white-space: nowrap;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-bar__nav > li {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-bar__link {
  text-decoration: none;
  color: rgb(9, 9, 70);
  font-size: 18px;
  transition: color 0.2s;
}

.nav-bar__link::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: -15px;
  width: calc(100% + 30px);
  height: 2px;
  background-color: rgb(57, 82, 209);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.nav-bar__link--active {
  color: rgb(57, 82, 209);
}

.nav-bar__link--active::after {
  transform: scaleX(1);
}

.nav-bar__link:hover {
  color:rgb(57, 82, 209);
}

.nav-bar__link:hover::after {
  transform: scaleX(1);
}

.nav-bar__link:active {
  color: rgb(44, 44, 160);
  transition: none;
}

.nav-bar__link:active::after {
  background-color: rgb(44, 44, 160);
  transition: none;
}